<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6de5d1c3499a291524390094c8fb48d2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_6de5d1c3499a291524390094c8fb48d2" ></div>
        
</body>
<script>
    
    
            var map_6de5d1c3499a291524390094c8fb48d2 = L.map(
                "map_6de5d1c3499a291524390094c8fb48d2",
                {
                    center: [22.75, 75.89],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 13,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_0fb8b0bd732bc86ae92ad14255c8bd37 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_0fb8b0bd732bc86ae92ad14255c8bd37.addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_e56493433d12157780c554d1e66a4eff = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_3ca6564daea9c0edd5dc0724d8946fe7 = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_df4b23c7807b6c51154a5c18c8432613 = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_997e574f06de8b98c0a60f1ed644ffd4 = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_f7a7f1560a9d7857cf1fa4f8d195af49 = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_eb85adac07a7a500ed36ddb01ef456e7 = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_0ea6b75a5dc0a52fc1776eb441c790a6 = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_a3fde8a48d08f84e24fef3d1d28ea37c = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_b71940e7b1ce696a429bed3732fad630 = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_f70321feb91e50228f398f08df67e4f3 = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_6fe2a77af9aeb08353ffc87690128ca3 = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_06146e69692904137c622fd86a2e3e42 = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_6ec0405256f582e0a1448cc979fcc94a = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_ee68370f47965bd76b676c37af035c8b = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_9f39ee186a536b979dd7cd93a05a57b6 = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_921e6864a73397f51d1e4b5f06469eec = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_5e7354df8f186ff82e6826239624decb = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_a3b64107aa7ba7f1cfa42d760c57d6d3 = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_8b070fd524ce5097965cfa1803fb57ce = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_1e5c67ea320da571d2cbab38112bc445 = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_5cefe5d32d644d0b91a71d974709fcbb = L.circleMarker(
                [22.746527, 75.887139],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var circle_marker_18467c898be0db0d54fd11647416be96 = L.circleMarker(
                [22.7533, 75.8937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
    
            var heat_map_0ca144c60fccfc2fa910265baa1cc1cf = L.heatLayer(
                [[22.746527, 75.887139], [22.7533, 75.8937], [22.746527, 75.887139], [22.7533, 75.8937], [22.746527, 75.887139], [22.7533, 75.8937], [22.746527, 75.887139], [22.7533, 75.8937], [22.746527, 75.887139], [22.7533, 75.8937], [22.746527, 75.887139], [22.7533, 75.8937], [22.746527, 75.887139], [22.7533, 75.8937], [22.746527, 75.887139], [22.7533, 75.8937], [22.746527, 75.887139], [22.7533, 75.8937], [22.746527, 75.887139], [22.7533, 75.8937], [22.746527, 75.887139], [22.7533, 75.8937]],
                {
  "minOpacity": 0.5,
  "maxZoom": 18,
  "radius": 25,
  "blur": 15,
}
            );
        
    
            heat_map_0ca144c60fccfc2fa910265baa1cc1cf.addTo(map_6de5d1c3499a291524390094c8fb48d2);
        
</script>
</html>